@charset "utf-8";

.main-wrapper {
    min-height: 1700px;
    height: auto;
    width: 1069px;
    margin: 0 auto;
    /*background-image: url(../images/min-index%20page.png);*/
    background-repeat: no-repeat;
}

.header {
    height: 200px;
    width: 1009px;
    background-color: #594e4e;
    padding: 30px 30px 0px 30px;
    /*opacity:0.3;*/
}

.search-wrapper {
    margin-top: 15px;
    width: 294px;
    height: 51px;
    color: #366;
    float: left;
    background: #a49191;
    padding-left: 8px;
}


#tabs {
    cursor: pointer;
}


.banner-body {
    height: 191px;
    width: 1009px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px;
    padding-bottom: 13px;
    background: #a49191;
}

.slider {
    width: 1009px;
    height: 191px;
    overflow: hidden;
    position: relative;
}

    .slider ul {
        position: absolute;
        list-style: none;
        width: 10000px;
    }

        .slider ul li {
            height: 191px;
            float: left;
            position: relative;
        }

            .slider ul li img {
                width: 1009px;
                height: 191px;
                background: #003;
            }

            .slider ul li span {
                position: absolute;
                height: 32px;
                width: 965px;
                background: #330;
                left: 0px;
                bottom: 0px;
                background: #f4609b;
                font-size: 37px;
                line-height: 24px;
                padding: 19px 22px;
                color: #FFF;
                z-index: 10;
                opacity: 0.6;
                font-family: Verdana, Geneva, sans-serif;
            }

.left-nav {
    top: 32px;
    left: 7px;
    height: 65px;
    width: 65px;
    background: url(../images/slider-nav-left-inactive.png) 0 0 no-repeat;
    position: absolute;
    border: none;
}

.right-nav {
    top: 32px;
    left: 85px;
    height: 65px;
    width: 65px;
    background: url(../images/slider-nav-right-active.png) 0 0 no-repeat;
    position: absolute;
    border: none;
}



.active {
    margin: 7px 2px 0px 2px !important;
}

.inactive {
    margin: 0px 1px !important;
}

.content-wrapper {
    min-height: 590px;
    width: 1008px;
    padding: 35px 30px 0px 30px;
    /*background-color: #FFF;*/
}

.content-top {
    height: 205px;
    width: 1008px;
}

.content-top-img {
    height: 121px;
    width: 280px;
    float: right;
}

.content-top-text {
    float: left;
    margin-left: 23px;
    width: 540px;
}

    .content-top-text h1 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .content-top-text p {
        font-size: 12px;
        line-height: 16px;
    }

.shop-button {
    background-color: #2d8696;
    width: auto;
    padding: 5px;
    /*margin-top: 22px;*/
    border-radius: 5px;
    font-size: 11px;
    display: inline-block;
}

.shop-button-woman-sun-glass {
    background-color: #2d8696;
    width: auto;
    padding: 2px 10px 2px 10px;
    margin-top: 22px;
    border-radius: 5px;
    font-size: 11px;
    display: inline-block;
}

    .shop-button-woman-sun-glass a {
        text-decoration: none;
        display: block;
        color: white;
    }

.shop-button a {
    text-decoration: none;
    display: block;
    color: white;
}

.seperater-line {
    height: 10px;
    width: 1008px;
    background-image: url(../images/seperater-line.png);
    background-repeat: repeat-x;
}

.seperater-line-downko {
    height: 10px;
    width: 1008px;
    margin-left: 23px;
    background-image: url(../images/seperater-line.png);
    background-repeat: repeat-x;
}

.content-main {
    /*background-color: #09C;*/
    /*opacity:0.3;*/
}

.content-main-menu ul {
    height: 50px;
}

    .content-main-menu ul li {
        float: left;
        list-style-type: none;
        width: 193px;
        margin-left: 1px;
        line-height: 43px;
        text-align: center;
        font-size: 14px;
        color: white;
        background: #3d8896;
    }

        .content-main-menu ul li:hover {
            margin-top: 7px;
            margin-left: 3px;
            margin-right: 3px;
        }

.content-main-body {
    min-height: 327px;
    width: 1008px;
}

    .content-main-body ul li {
        float: left;
        list-style-type: none;
        margin-left: 70px;
        padding-bottom: 34px;
        height: 293px;
        width: 280px;
    }

        .content-main-body ul li:first-child {
            margin-left: 0px;
        }

        .content-main-body ul li img {
            height: 170px;
            width: 280px;
        }

        .content-main-body ul li h2 {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: normal;
            /*margin-top: -5px;*/
        }

        .content-main-body ul li p {
            font-size: 13px;
            line-height: 15px;
            min-height: 70px;
        }

.footer {
    width: 1008px;
    height: auto;
    margin-top: 29px;
}

.footer-top {
    height: 210px;
    width: 985px;
    padding: 40px 30px 40px 59px;
    background-image: url(../images/footer-top-background-img.png);
    background-repeat: repeat;
}

.footer-top-text {
    height: 60px;
    width: 985px;
    float: left;
    border-bottom: 2px solid;
    border-color: #3794a5;
}

    .footer-top-text p {
        font-size: 19px;
        line-height: 20px;
    }

.footer-top ul {
    float: left;
    margin-top: 22px;
}

    .footer-top ul li {
        list-style-type: none;
        height: 85px;
        width: 236px;
        float: left;
        margin-right: 10px;
        position: relative;
    }

        .footer-top ul li span {
            font-size: 12px;
            line-height: 12px;
            position: absolute;
            left: 42px;
            top: 0px;
        }

        .footer-top ul li p {
            font-size: 10px;
            font-family: sans-serif;
            line-height: 14px;
            position: absolute;
            left: 42px;
            top: 15px;
        }

.footer-top-menu {
    height: 35px;
    width: 1015px;
    background-color: #FFF;
    padding-left: 53px;
    border-bottom: 2px solid;
    border-bottom-color: #dcdcdc;
}

    .footer-top-menu ul li {
        list-style-type: none;
        float: left;
        margin-right: 8px;
        line-height: 20px;
        margin-top: 10px;
        font-size: 14px;
        padding-left: 10px;
        list-style-type: none;
        background-image: url(../images/footer-menu-seperator.png);
        background-repeat: no-repeat;
    }

        .footer-top-menu ul li:first-child {
            background-image: none;
        }

        .footer-top-menu ul li a {
            text-decoration: none;
        }


.footer-bottom {
    height: 370px;
    width: 969px;
    background-image: url("../images/footer-bottom-bg.png");
    background-repeat: repeat-x;
    padding-top: 17px;
    padding-right: 30px;
    padding-left: 69px;
}

.footer-bottom-menu span {
    font-size: 11px;
    float: right;
}

.footer-bottom-menu {
    float: right;
}

    .footer-bottom-menu ul {
        height: 20px;
        float: right;
    }

        .footer-bottom-menu ul li {
            line-height: 14px;
            width: auto;
            font-size: 11px;
            font-family: sans-serif;
            padding-left: 6px;
            margin-left: 15px;
            list-style-type: none;
            background-image: url(../images/footer-menu-seperator.png);
            background-repeat: no-repeat;
            float: left;
        }

            .footer-bottom-menu ul li:first-child {
                background-image: none;
            }

            .footer-bottom-menu ul li a {
                color: black;
                text-decoration: none;
            }

.language-select {
    height: 20px;
    width: 200px;
    float: left;
}

#flagImage {
}

.country-img img {
    height: 18px;
    width: 23px;
    float: left;
    margin-right: 10px;
}

.select-country {
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
