@charset "utf-8";
/* CSS Document */
.main-left{
	font-family:Verdana, Geneva, sans-serif;
	float: left;
	padding-left:52px;
	width: 528px;
	margin-top: 24px;
	position: relative;
	/*total width 590*/
}
.main-left h1{
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 10px;
}
.main-left p{
	color: #7f7f7f;
	line-height: 16px;
	font-size: 12px;
	margin-bottom: 16px;
}
.main-right{
	float: right;
	width: 280px;
	margin-top: 24px;
	margin-bottom:100px;
	padding-right: 36px;
}
.main-right span a img{
	margin-left: 0px;
	padding-top: 50px;
}
.main-right .buy-btn{
	background:url("images/right-buy.png");
	margin-bottom:20px;
}
.main-right button{
	background-color: #636363;
	height: 34px;
	width: 110px;
	border:0px;
}
/*lightbox*/
.lightbox {
	width: 1008px;
	height: 470px;
	position: absolute;
	top: -10px;
	left: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #e8e8e8;
	background:url(../images/lightbox-bg.png);
	padding: 35px 30px 35px 30px;
	margin-bottom:105px;
}
.closebtn {
	width: 23px;
	height: 26px;
	position: absolute;
	right: 22px;
	top: 8px;
	background-image:url(../images/closebtn.png);
}
.lightbox img {
	width: 1009px;
	height: 470px;
}
