.menu-wrapper{
	margin-left: 30px;
	height: 80px;
	margin-top: 32px;
	background:url("../images/menu-bg.png");
	width: 438px;
}
.menu {
	float:left;
}

.menu ul{
	
	float: left;
	list-style: none;
	font-size: 18px;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	display: block;
	color: #fff;
	line-height: 80px;
	padding-left: 16px;
	padding-right: 16px;
}
.menu ul li a:hover{
	background-color: #5a93e9;
}
.menu ul li ul{
	display: none;
	background-color: #594e4e;
	padding-bottom: 10px;
}
.menu ul li:hover ul{
	display: block;
}

.menu ul li ul li{
	display: block;
	height: 28px;
	margin-top: 3px;
}
.menu ul li ul li a{
	background-color: #5a93e9;
	line-height: 28px;
}
.menu ul li ul li a:hover{
	line-height: 28px;
}

#search-box{
	padding-top:15px;
	height:26px;
	width:214px;
	border:none;
	background:#e6e6e6;
	color:#a49191;
	float:left;
}
	
#search-icon{
	background: url("../images/search-icon.png");
	height: 51px;
	width:63px;
	float:left; 
}